<main>

    <!-- profile area start -->
    <section class="profile__area pt-120 pb-120">
     <div class="container">
        <div class="profile__inner p-relative">
           <div class="profile__shape">
              <img class="profile__shape-1" src="assets/img/login/laptop.png" alt="" >
              <img class="profile__shape-2" src="assets/img/login/man.png" alt="" >
              <img class="profile__shape-3" src="assets/img/login/shape-1.png" alt="" >
              <img class="profile__shape-4" src="assets/img/login/shape-2.png" alt="" >
              <img class="profile__shape-5" src="assets/img/login/shape-3.png" alt="" >
              <img class="profile__shape-6" src="assets/img/login/shape-4.png" alt="" >
           </div>
           <div class="row">
              <div class="col-xxl-4 col-lg-4">
                 <div class="profile__tab mr-40">
                    <nav>
                       <div class="nav nav-tabs tp-tab-menu flex-column" id="profile-tab" role="tablist">
                          <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" (click)="selectTab(0)" role="tab" aria-controls="nav-profile" aria-selected="false"><span><i class="fa-regular fa-user-pen"></i></span>Perfil</button>
                          <button class="nav-link" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" (click)="selectTab(1)" role="tab" aria-controls="nav-information" aria-selected="false"><span><i class="fa-regular fa-circle-info"></i></span> Información</button>
                          <button class="nav-link" id="nav-address-tab" data-bs-toggle="tab" data-bs-target="#nav-address" type="button" role="tab" (click)="selectTab(2)" aria-controls="nav-address" aria-selected="false"><span><i class="fa-light fa-location-dot"></i></span> Dirección</button>
                          <button class="nav-link" id="nav-order-tab" data-bs-toggle="tab" data-bs-target="#nav-order" type="button" role="tab" (click)="selectTab(3)" aria-controls="nav-order" aria-selected="false"><span><i class="fa-light fa-clipboard-list-check"></i></span> Mis Ordenes </button>
                          <button class="nav-link" id="nav-notification-tab" data-bs-toggle="tab" data-bs-target="#nav-notification" type="button" role="tab" aria-controls="nav-notification" aria-selected="false"><span><i class="fa-regular fa-bell"></i></span> Notificaciones</button>
                          <button class="nav-link" id="nav-password-tab" data-bs-toggle="tab" data-bs-target="#nav-password" type="button" role="tab" aria-controls="nav-password" aria-selected="false"><span><i class="fa-regular fa-lock"></i></span> Cambiar Contraseña</button>
                          <span id="marker-vertical" class="tp-tab-line d-none d-sm-inline-block"></span>
                       </div>
                    </nav>
                 </div>
              </div>
              <div class="col-xxl-8 col-lg-8">
                 <div class="profile__tab-content">
                    <div class="tab-content" id="profile-tabContent">
                       <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <div class="profile__main">
                             <div class="profile__main-top pb-80">
                                <div class="row align-items-center">
                                   <div class="col-md-6">
                                      <div class="profile__main-inner d-flex flex-wrap align-items-center">
                                         <div class="profile__main-thumb">
                                           <!-- <img src="assets/img/users/user-10.jpg" alt="">-->
                                            <div class="profile__main-thumb-edit">
                                               <input id="profile-thumb-input" class="profile-img-popup" type="file">
                                               <label for="profile-thumb-input"><i class="fa-light fa-camera"></i></label>
                                            </div>
                                         </div>
                                         <div class="profile__main-content">
                                            <h4 class="profile__main-title">Bienvenido</h4>
                                            <p> <span></span></p>
                                         </div>
                                         <div class="profile__images">
                                          <img src="assets/img/logo/house.svg" alt="House Logo">
                                          <img src="assets/img/logo/mano.svg" alt="Hand Logo">
                                      </div>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="profile__main-logout text-sm-end">
                                         <a href="#" onclick="return false;" (click)="logout()" class="tp-logout-btn">Salir</a>
                                      </div>
                                   </div>
                                </div>
                             </div>
                           
                          </div>
                       </div>
                       <div class="tab-pane fade" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
                            @defer (when selected_tab == 1) {  
                              <!-- *ngIf="selected_tab == 1" -->
                            <app-edit-profile-client ></app-edit-profile-client>
                           } @placeholder {
                              <div>Wait for the duck...</div>
                           }
                       </div>
                       <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                          <app-password-profile-client></app-password-profile-client>
                       </div>
                       <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                           @defer (when selected_tab == 2) {  
                              <app-address-profile-client></app-address-profile-client>
                           } @placeholder {
                              <div>Wait for the duck...</div>
                           }  
                       </div>
                       <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
                           @defer (when selected_tab == 3) {  
                              <app-orders-profile-client></app-orders-profile-client>
                           } @placeholder {
                              <div>Wait for the duck...</div>
                           }    
                       </div>
                       <div class="tab-pane fade" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
                          <div class="profile__notification">
                             <div class="profile__notification-top mb-30">
                                <h3 class="profile__notification-title">Mi configuración de actividad</h3>
                                <p>Manténgase actualizado con notificaciones sobre la actividad que lo involucra, incluidas menciones, mensajes, respuestas a sus ofertas, nuevos artículos, ventas y actualizaciones administrativas.</p>
                             </div>
                             <div class="profile__notification-wrapper">
                                <div class="profile__notification-item mb-20">
                                   <div class="form-check form-switch d-flex align-items-center">
                                      <input class="form-check-input" type="checkbox" role="switch" id="like" checked>
                                      <label class="form-check-label" for="like">Me gusta y sigue notificaciones</label>
                                   </div>
                                </div>
                                <div class="profile__notification-item mb-20">
                                   <div class="form-check form-switch d-flex align-items-center">
                                      <input class="form-check-input" type="checkbox" role="switch" id="post" checked>
                                      <label class="form-check-label" for="post">Notificaciones de publicaciones, comentarios y respuestas</label>
                                   </div>
                                </div>
                                <div class="profile__notification-item mb-20">
                                   <div class="form-check form-switch d-flex align-items-center">
                                      <input class="form-check-input" type="checkbox" role="switch" id="new" checked>
                                      <label class="form-check-label" for="new">Notificaciones de nuevos productos</label>
                                   </div>
                                </div>
                                <div class="profile__notification-item mb-20">
                                   <div class="form-check form-switch d-flex align-items-center">
                                      <input class="form-check-input" type="checkbox" role="switch" id="sale" checked>
                                      <label class="form-check-label" for="sale">Notificaciones de producto en oferta</label>
                                   </div>
                                </div>
                                <div class="profile__notification-item mb-20">
                                   <div class="form-check form-switch d-flex align-items-center">
                                      <input class="form-check-input" type="checkbox" role="switch" id="payment" checked>
                                      <label class="form-check-label" for="payment">Notificaciones de pago</label>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
 </section>
 <!-- profile area end -->

  </main>