

<!-- footer area start -->
<footer>
    <div class="tp-footer-area" data-bg-color="footer-bg-grey">
       <div class="tp-footer-top pt-95 pb-40">
          <div class="container">
             <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
                   <div class="tp-footer-widget footer-col-1 mb-50">
                      <div class="tp-footer-widget-content">
                         <div class="tp-footer-logo">
                            <a href="index.html">
                              <!-- <img src="assets/img/logo/cuaglia.png" alt="logo">-->
                            </a>
                         </div>
                         <p class="tp-footer-desc"></p>
                         <div class="tp-footer-social">
                           <a href="https://www.facebook.com/radiadores.cuaglia" target="_blank"><i class="fa-brands fa-facebook-f fa-sm"></i></a> <!-- Tamaño pequeño -->
                           <a href="https://twitter.com/cuagliaradiador" target="_blank"><i class="fa-brands fa-x-twitter fa-sm"></i></a> <!-- Icono de X -->
                           <a href="https://www.instagram.com/radiadores_cuaglia/" target="_blank"><i class="fa-brands fa-instagram fa-sm"></i></a> <!-- Tamaño pequeño -->
                        </div>
                      </div>
                   </div>
                </div>
               
             </div>
          </div>
       </div>
       <div class="tp-footer-bottom">
         <div class="container">
            <div class="tp-footer-bottom-wrapper">
               <div class="row align-items-center">
                  <div class="col-md-6">
                     <div class="tp-footer-copyright">
                        <p>Copyright © 2025<span id="currentYear"></span> La Casa de los Radiadores. Todos los derechos reservados.</p>
                     </div>
                  </div>
                  <div class="col-md-6 text-md-end">
                     <div class="tp-footer-developer">
                        <p>Desarrollado por <a href="https://www.linkedin.com/in/facundo-nicolas-canteros/" target="_blank">Facundo Canteros</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <style>
      
         .tp-footer-copyright p, .tp-footer-developer p {
   margin: 0;
   padding: 5px 0;
   font-size: 14px;
   color: #333;
}

.tp-footer-developer a {
   color: #007bff;
   text-decoration: none;
}

.tp-footer-developer a:hover {
   text-decoration: underline;
}

.tp-footer-bottom {
   background-color: #f8f9fa;
   padding: 20px 0;
   border-top: 1px solid #ddd;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
}

      </style>
    </div>
  </footer>
  <!-- footer area end -->